<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="rbtrackerFrame">
		<title>Rboy Tracker - Copyright 2014 Jonne Valola</title>
		<centered>1</centered>
		<size>824,640</size>
		<bg>wxSYS_COLOUR_GRADIENTACTIVECAPTION</bg>
		<minsize>-1,-1</minsize>
		<maxsize>-1,-1</maxsize>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL4" variable="Panel1" member="yes">
			<pos>8,8</pos>
			<size>304,240</size>
			<bg>wxSYS_COLOUR_MENU</bg>
			<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
			<handler function="OnPanel1Paint" entry="EVT_PAINT" />
			<object class="wxButton" name="ID_BUTTON5" variable="PlaySong" member="yes">
				<label>Play SONG</label>
				<pos>8,8</pos>
				<size>71,23</size>
				<handler function="OnPlaySongClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticText18" member="yes">
				<label>PATTERN</label>
				<pos>168,144</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticText17" member="yes">
				<label>POSITION</label>
				<pos>96,144</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText13" member="yes">
				<label>OCTAVE</label>
				<pos>96,184</pos>
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL18" variable="Octave" member="yes">
				<value>3</value>
				<max>7</max>
				<pos>96,200</pos>
				<size>49,21</size>
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL17" variable="Position" member="yes">
				<value>0</value>
				<max>63</max>
				<pos>96,160</pos>
				<size>49,21</size>
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL13" variable="Pattern" member="yes">
				<value>1</value>
				<min>1</min>
				<max>10</max>
				<pos>168,160</pos>
				<size>49,21</size>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX5" variable="Ch1" member="yes">
				<label>Track 1</label>
				<checked>1</checked>
				<pos>88,16</pos>
				<handler function="OnCh1Click" entry="EVT_CHECKBOX" />
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX6" variable="Ch3" member="yes">
				<label>Track 3</label>
				<checked>1</checked>
				<pos>232,16</pos>
				<handler function="OnCh3Click" entry="EVT_CHECKBOX" />
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX4" variable="Ch2" member="yes">
				<label>Track 2</label>
				<checked>1</checked>
				<pos>160,16</pos>
				<handler function="OnCh2Click" entry="EVT_CHECKBOX" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT19" variable="StaticText19" member="yes">
				<label>PATCHES</label>
				<pos>240,184</pos>
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL15" variable="NumInstruments" member="yes">
				<value>1</value>
				<min>1</min>
				<max>15</max>
				<pos>240,200</pos>
				<size>50,21</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="yes">
				<label>LOOP AT</label>
				<pos>240,144</pos>
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL16" variable="NumPatterns" member="yes">
				<value>1</value>
				<min>1</min>
				<max>10</max>
				<pos>240,160</pos>
				<size>49,21</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText15" member="yes">
				<label>BPM</label>
				<pos>168,184</pos>
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL14" variable="Tempo" member="yes">
				<value>120</value>
				<min>1</min>
				<max>300</max>
				<pos>168,200</pos>
				<size>49,21</size>
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="SaveSongBtn" member="yes">
				<label>SAVE AS...</label>
				<pos>8,40</pos>
				<size>72,23</size>
				<handler function="OnSaveSongBtnClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON4" variable="LoadSongBtn" member="yes">
				<label>LOAD</label>
				<pos>8,64</pos>
				<size>72,23</size>
				<handler function="OnLoadSongBtnClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON13" variable="Button5" member="yes">
				<label>NEW SONG</label>
				<pos>8,88</pos>
				<size>71,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON14" variable="Button6" member="yes">
				<label>Copy PTN</label>
				<pos>8,152</pos>
				<size>71,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
				<label>Paste PTN</label>
				<pos>8,176</pos>
				<size>71,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON6" variable="Button4" member="yes">
				<label>EXPORT .C</label>
				<pos>8,112</pos>
				<size>72,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="CopyTr1" member="yes">
				<label>Copy Tr1</label>
				<pos>88,40</pos>
				<size>63,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON12" variable="CopyTr3" member="yes">
				<label>Copy Tr3</label>
				<pos>232,40</pos>
				<size>63,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON10" variable="CopyTr2" member="yes">
				<label>Copy Tr2</label>
				<pos>160,40</pos>
				<size>63,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON18" variable="Button2" member="yes">
				<label>Paste Tr1</label>
				<pos>88,64</pos>
				<size>63,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON19" variable="Button3" member="yes">
				<label>Paste Tr1</label>
				<pos>232,64</pos>
				<size>63,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON11" variable="PastePtn" member="yes">
				<label>Paste Tr1</label>
				<pos>160,64</pos>
				<size>63,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON20" variable="Button11" member="yes">
				<label>Clear Tr1</label>
				<pos>88,88</pos>
				<size>63,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON21" variable="Button12" member="yes">
				<label>Clear Tr1</label>
				<pos>160,88</pos>
				<size>63,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON15" variable="Button8" member="yes">
				<label>Clear Tr1</label>
				<pos>232,88</pos>
				<size>63,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON22" variable="Button13" member="yes">
				<label>/\\</label>
				<pos>88,112</pos>
				<size>31,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON25" variable="Button16" member="yes">
				<label>/\\</label>
				<pos>160,112</pos>
				<size>31,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON17" variable="Button10" member="yes">
				<label>/\\</label>
				<pos>232,112</pos>
				<size>31,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON23" variable="Button14" member="yes">
				<label>\\/</label>
				<pos>120,112</pos>
				<size>31,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON26" variable="Button17" member="yes">
				<label>\\/</label>
				<pos>192,112</pos>
				<size>31,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON16" variable="Button9" member="yes">
				<label>\\/</label>
				<pos>264,112</pos>
				<size>31,23</size>
			</object>
			<object class="wxButton" name="ID_BUTTON27" variable="Button18" member="yes">
				<label>Clear PTN</label>
				<pos>8,200</pos>
				<size>71,23</size>
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
				<pos>83,8</pos>
				<size>1,225</size>
				<style>wxLI_VERTICAL</style>
			</object>
		</object>
		<object class="wxPanel" name="ID_PANEL1" variable="Instrument" member="yes">
			<pos>8,256</pos>
			<size>304,360</size>
			<bg>wxSYS_COLOUR_MENU</bg>
			<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
			<object class="wxRadioBox" name="ID_RADIOBOX1" variable="Wave" member="yes">
				<label></label>
				<content>
					<item>OFF</item>
					<item>SQUARE</item>
					<item>SAW</item>
					<item>TRIANGLE</item>
					<item>NOISE</item>
					<item>TONE NOISE</item>
				</content>
				<default>1</default>
				<pos>10,24</pos>
				<size>128,151</size>
				<style>wxNO_BORDER</style>
				<handler function="OnWaveSelect" entry="EVT_RADIOBOX" />
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="BendRate" member="yes">
				<value>0</value>
				<min>-1000</min>
				<max>1000</max>
				<pos>232,72</pos>
				<size>64,21</size>
				<handler function="OnInstTuneChange" entry="EVT_SPINCTRL" />
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="InstVol" member="yes">
				<value>127</value>
				<max>300</max>
				<pos>232,40</pos>
				<size>64,21</size>
				<handler function="OnInstVolChange" entry="EVT_SPINCTRL" />
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="Patch" member="yes">
				<value>1</value>
				<min>1</min>
				<max>15</max>
				<pos>80,8</pos>
				<size>56,21</size>
				<handler function="OnPatchChange" entry="EVT_SPINCTRL" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Patch</label>
				<pos>8,8</pos>
				<size>64,24</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>Volume</label>
				<pos>144,40</pos>
				<size>64,16</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="Pitchbendrate" member="yes">
				<label>Pitch bend rate</label>
				<pos>144,72</pos>
				<size>87,16</size>
			</object>
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="InstName" member="yes">
				<value>Patchname</value>
				<maxlength>20</maxlength>
				<pos>144,8</pos>
				<size>152,24</size>
				<style>wxTE_NO_VSCROLL</style>
				<handler function="OnInstNameTextEnter" entry="EVT_TEXT" />
				<handler function="OnInstNameTextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX1" variable="Loop" member="yes">
				<label>Loop</label>
				<pos>16,216</pos>
				<handler function="OnLoopClick" entry="EVT_CHECKBOX" />
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX2" variable="Echo" member="yes">
				<label>Echo</label>
				<pos>16,240</pos>
				<handler function="OnEchoClick" entry="EVT_CHECKBOX" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
				<label>Arpeggio mode</label>
				<pos>144,144</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT5" variable="asdff" member="yes">
				<label>Vibrato rate</label>
				<pos>144,120</pos>
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL5" variable="MaxBend" member="yes">
				<value>0</value>
				<min>-30000</min>
				<max>30000</max>
				<pos>232,96</pos>
				<size>64,21</size>
				<handler function="OnPitchBendChange" entry="EVT_SPINCTRL" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT21" variable="StaticText21" member="yes">
				<label>Pitch bend max</label>
				<pos>144,96</pos>
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL6" variable="VibRate" member="yes">
				<value>0</value>
				<max>255</max>
				<pos>232,120</pos>
				<size>64,21</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText1" member="yes">
				<label>Attack</label>
				<pos>144,216</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
				<label>Effects</label>
				<pos>16,184</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX3" variable="ADSR" member="yes">
				<label>ADSR</label>
				<pos>88,216</pos>
				<handler function="OnADSRClick" entry="EVT_CHECKBOX" />
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL8" variable="Attack" member="yes">
				<value>0</value>
				<max>255</max>
				<pos>232,216</pos>
				<size>64,21</size>
				<handler function="OnAttackChange" entry="EVT_SPINCTRL" />
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL9" variable="Decay" member="yes">
				<value>0</value>
				<max>255</max>
				<pos>232,240</pos>
				<size>64,21</size>
				<handler function="OnAttackChange" entry="EVT_SPINCTRL" />
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL10" variable="Sustain" member="yes">
				<value>0</value>
				<max>255</max>
				<pos>232,264</pos>
				<size>64,21</size>
				<handler function="OnAttackChange" entry="EVT_SPINCTRL" />
			</object>
			<object class="wxSpinCtrl" name="ID_SPINCTRL7" variable="Release" member="yes">
				<value>0</value>
				<max>255</max>
				<pos>232,288</pos>
				<size>64,21</size>
				<handler function="OnAttackChange" entry="EVT_SPINCTRL" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
				<label>Decay</label>
				<pos>144,240</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
				<label>Sustain</label>
				<pos>144,264</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
				<label>Release</label>
				<pos>144,288</pos>
			</object>
			<object class="wxChoice" name="ID_CHOICE1" variable="ArpMode" member="yes">
				<content>
					<item>OFF</item>
					<item>M slow</item>
					<item>M med</item>
					<item>M fast</item>
					<item>m slow</item>
					<item>m med</item>
					<item>m fast</item>
				</content>
				<selection>0</selection>
				<pos>232,145</pos>
				<size>64,21</size>
				<handler function="OnArpModeSelect" entry="EVT_CHOICE" />
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX8" variable="Overdrive" member="yes">
				<label>Overdrive X2</label>
				<pos>16,264</pos>
			</object>
			<object class="wxCheckBox" name="ID_CHECKBOX7" variable="Kick" member="yes">
				<label>Drum kick</label>
				<pos>16,288</pos>
			</object>
			<object class="wxButton" name="ID_BUTTON7" variable="SavePatchBtn" member="yes">
				<label>SAVE AS...</label>
				<pos>8,328</pos>
				<size>63,23</size>
				<handler function="OnSavePatchBtnClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON8" variable="LoadPatchBtn" member="yes">
				<label>LOAD</label>
				<pos>80,328</pos>
				<size>63,23</size>
				<handler function="OnLoadPatchBtnClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON9" variable="Button7" member="yes">
				<label>EXPORT .C</label>
				<pos>152,328</pos>
				<size>63,23</size>
			</object>
		</object>
		<object class="wxPanel" name="ID_PANEL2" variable="Tracks" member="yes">
			<pos>328,8</pos>
			<size>480,608</size>
			<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
			<handler function="OnTracksKeyDown" entry="EVT_KEY_DOWN" />
			<object class="wxGrid" name="ID_GRID1" variable="Grid" member="yes">
				<cols>3</cols>
				<rows>64</rows>
				<labelrowheight>17</labelrowheight>
				<labelcolwidth>30</labelcolwidth>
				<defaultrowsize>17</defaultrowsize>
				<defaultcolsize>140</defaultcolsize>
				<labelfont>
					<size>10</size>
					<weight>bold</weight>
					<family>teletype</family>
				</labelfont>
				<collabels>
					<item>Track 1</item>
					<item>Track 2</item>
					<item>Track 3</item>
				</collabels>
				<celltext>
					<item>--- 00</item>
				</celltext>
				<pos>0,0</pos>
				<size>472,595</size>
				<font>
					<size>10</size>
					<weight>bold</weight>
					<family>teletype</family>
				</font>
				<handler function="OnGrid1CellLeftClick" entry="EVT_CMD_GRID_CELL_LEFT_CLICK" />
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxFileDialog" variable="SaveSongDialog" member="yes">
			<message>Save song as...</message>
			<wildcard>Rbtracker song | *.rbs;</wildcard>
			<style>wxFD_SAVE|wxFD_OVERWRITE_PROMPT</style>
		</object>
		<object class="wxFileDialog" variable="LoadSongDialog" member="yes">
			<message>Load song</message>
			<wildcard>Rbtracker song | *.rbs;</wildcard>
			<style>wxFD_DEFAULT_STYLE|wxFD_OPEN</style>
		</object>
		<object class="wxFileDialog" variable="SavePatchDialog" member="yes">
			<message>Save patch</message>
			<wildcard>Rbtracker patch | *.rbp;</wildcard>
			<style>wxFD_SAVE|wxFD_OVERWRITE_PROMPT</style>
		</object>
		<object class="wxFileDialog" variable="LoadPatchDialog" member="yes">
			<message>Load patch</message>
			<wildcard>Rbtracker patch | *.rbp;</wildcard>
			<style>wxFD_DEFAULT_STYLE|wxFD_OPEN</style>
		</object>
	</object>
</wxsmith>
